@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

div {
  display: flex;
  flex-direction: column;
}

html {
  color: white;
  font-family: "Inter", "Arial", "Ubuntu", sans-serif;
}

button {
  background: none;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  color: white;
}

.bg-red {
  background: red;
}

.bg-gray-700 {
  background: #0d0d0d;
}

.bg-gray-600 {
  background: #1a1a1a;
}

.bg-gray-500 {
  background: #262626;
}

.bg-blue-dark {
  background: #1e6f9f;
}

.text-blue {
  color: #4ea8de;
}

.text-purple {
  color: #8284fa;
}

.text-white {
  color: white;
}

.font-bold {
  font-weight: 800;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.gap-1 {
  gap: 1rem;
}

.gap-0_5 {
  gap: 0.5rem;
}

.p-0_5 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.w-full {
  width: 100%;
}

.max-w-40 {
  max-width: 40rem;
}

.h-10 {
  height: 10rem;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.-z-10 {
  z-index: -10;
}

.-translate-y-1-2 {
  transform: translateY(-50%);
}

.rounded-0_5 {
  border-radius: 0.5rem;
}

.rounded-1 {
  border-radius: 1rem;
}
